<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.huanshao.wx_sdk">
    <application>
        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:taskAffinity="${applicationId}"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:label="微信登录"
            />
        
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".wxapi.WXEntryActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />

    </application>
</manifest>
